body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* styling for signup and signin form */
section {
    width: 80%;
    display: flex;
    box-shadow: 4px 4px 10px 2px rgb(87, 86, 86);
    height: 80vh;
    margin-top: 5vh;
    border-radius: 5px;
}

section a {
    text-decoration: none;
    color: rgb(83, 82, 82);
    font-weight: 600;
    font-size: 0.7rem;
}

section h1 {
    width: 100%;
    padding: 5%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(0, 158, 40);
}

#img-container {
    width: 50%;
}

#img-container img {
    width: 100%;
    height: 100%;
}

section form {
    width: 50%;
    padding: 5%;
}

.alert {
    font-size: 0.8rem;
}

.password-match {
    display: none;
}

/* media quries for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 0.7rem;
    }
    #img-container {
        display: none;
    }
    section {
        justify-content: center;
        align-items: center;
    }
    section form {
        width: 80%;
    }
}