<section>
    <div id="img-container">
        <img src="/images/reset.jpg" alt="signup">
    </div>
    <form id="changePasswordForm" action="/auth/change-password" method="post">
        <p class="alert alert-danger password-match"></p>
        <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input required type="password" autofocus class="form-control" name="newPassword" id="new-password"
                placeholder="Enter new password">
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input required type="password" class="form-control" name="confirmPassword" id="confirm-password"
                placeholder="Confirm new password">
        </div>
        <button type="submit" id="change-password" disabled class="btn btn-dark w-100">Change Password</button>
    </form>
</section>