<section>
    <div id="img-container">
        <img src="/images/reset.jpg" alt="signup">
    </div>
    <form action="/auth/forgot-password" method="post">
        <% if(!isValidEmail){ %>
            <p class="alert alert-danger">Enter a valid email</p>
        <% } %>
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email</label>
            <input required type="email" class="form-control" name="email" id="email"
                placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-dark w-100">Send Code</button>
    </form>
</section>